.indicators {
    display: flex;
    gap: 8px;
    .indicator {
        width: 70px;
        display: flex;
        background-color:rgb(255, 217, 211);
        border-radius: 8px;
        height: 8px;
        .progress {
            border-radius: 8px;
            width: 0%;
            height: 8px;
            background-color: red;
        }
    }
}